$green: #00a758;
$blue: #0000c1;
$gray: #fafafa;

$red: #ff7769;
$navy: #282b3e;
$violet: #361558;
$gold: #f49600;
$turquoise: #06c7ba;

$green-0: #004427;
$green-1: #046138;
$green-2: #06874e;
$green-3: #00a758;
$green-4: #00c46e;
$green-5: #5cd790;
$green-6: #ace5c4;
$green-7: #caeed9;

$navy-0: #282b3e;
$navy-1: #34384b;
$navy-2: #424559;
$navy-3: #5e6073;
$navy-4: #8e90a2;
$navy-5: #ededed;
