@import "colors.scss";
@import "sharepoint-clear.scss";
@import "navigation.scss";

header.header {
  display: flex;
}

body {
  margin: 0 !important;
}

.banner {
  background: $navy;
  height: 4rem;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  img {
    max-width: 350px;
    margin-left: -25px;
  }
}

.breadcrumb {
  background: $manulife_green1;
  color: #fff;
  padding: 15px;

  span {
    color: #fff;
    font-size: 18px;
  }
}

.body-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: baseline;
}

.workspace {
  flex: 10;
  background: #fafafa;
  padding: 15px;
}
