div#s4-titlerow {
  display: none !important;
}

div#sideNavBox {
  display: none !important;
}

div#contentRow {
  padding: 0 !important;
}

div#contentBox {
  margin: 0 !important;
  min-width: unset !important;
}

.right-wp-zone-col {
  display: none;
  width: 0;
}

.col-fluid-2 {
  margin: 0 !important;
}

div#DeltaPlaceHolderMain > div {
  padding: 0 !important;
}

.ms-descriptiontext.ewiki-margin {
  display: none;
}

.edit-mode-border {
  padding: 0 !important;
  margin: 0 !important;
}
